.InputLabel {
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
  cursor: text;

  &.info-input {
    span {
      color: #66F;
    }

    input {
      border-color: #66F;
      color: #66F;

      &::placeholder {
        color: #66F;
      }
    }
  }

  &.danger-input {
    span {
      color: #F66;
    }

    input {
      border-color: #F66;
      color: #F66;

      &::placeholder {
        color: #F66;
      }
    }
  }

  &.success-input {
    span {
      color: #6F6;
    }

    input {
      border-color: #6F6;
      color: #6F6;

      &::placeholder {
        color: #6F6;
      }
    }
  }

  &:hover,
  &:focus-within {
    span {
      color: $second;
    }

    input {
      border-color: $second;
      color: $second;

      &::placeholder {
        color: $second;
      }
    }
  }

  &.white-input {
    span {
      color: #FFF
    } 

    input {
      border-color: #FFF;
      color: #FFF;

      &::placeholder {
        color: #FFF;
      }
    }

    &:hover,
    &:focus-within {
      span {
        color: $fourth;
      }

      input {
        border-color: $fourth;
        color: $fourth;

        &::placeholder {
          color: $fourth;
        }
      }
    }
  }

  span {
    @include font(1.5rem, 200);
    transition: all ease 0.5s;

    @include responsive($mbB) {
      font-size: 4vw;
      line-height: 4.5vw;
    }
  }

  input {
    padding: 10px 0;
    border-bottom: 1px solid #000;
    transition: all ease 0.5s;

    &::placeholder {
      color: #000;
      transition: all ease 0.5s;
    }

    @include responsive($mbB) {
      font-size: 3vw;
      line-height: 3.5vw;
    }
  }
}