* {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  @include font(1.4rem, 400);
  margin: 0;
  text-decoration: none;
}

button,
input {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  resize: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes move-x {
  0% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(30%);
  }

  60% {
    transform: translateX(-20%);
  }

  75% {
    transform: translateX(10%);
  }

  95% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
  }
}