// DEFAULT COLORs
$first: #1B676B;
$second: #519548;
$third: #88C425;
$fourth: #BEF202;
$fifth: #EAFDE6;

// DEFAULT COLORs - DARK
$first_dark: #094549;
$second_dark: #307326;
$third_dark: #66A203;
$fourth_dark: #9CD000;
$fifth_dark: #C8DBC4;

// DEFAULT COLORs - LIGHT
$first_light: #3D898D;
$second_light: #73B76A;
$third_light: #AAE647;
$fourth_light: #DFF424;
$fifth_light: #FCFFF8;

// VARIANTs
$black_variant: #222;
$white_variant: #DDD;
