// DEFAULT SIZEs
$dsB: "only screen and (max-width: 1440px)";
$ds: "only screen and (max-width: 1280px)";
$dsS: "only screen and (max-width: 1024px)";
$tb: "only screen and (max-width: 768px)";
$mbB: "only screen and (max-width: 450px)";
$mb: "only screen and (max-width: 400px)";
$mbS: "only screen and (max-width: 375px)";

// DEFAULT SIZEs - VARIANT
$dsV: "only screen and (max-width: 1680px)";
$tbV: "only screen and (max-width: 991px)";
$mbV: "only screen and (max-width: 580px)";
